* {
  margin: 0;
  padding: 0;
}

body {
  color: #111111;
  font-family: "Segoe UI";
  background-color: #fdfdfd;
  display: flex;
  min-height: 100vh;
  flex-direction: column;
}

.blog-nav {
  line-height: 2rem;
  padding: 0.5rem;
  border-bottom: 2px solid #e8e8e8;
  text-align: center;
}

.blog-nav-text {
  color: #424242;
  font-family: "Segoe UI Light";
  font-size: 1.5rem;
  text-decoration: none;
}

.blog-nav-text:hover {
  text-decoration: underline 2px solid #424242;
}

.blog-content {
  display: block;
  flex-grow: 1;
  margin-left: auto;
  margin-right: auto;
  margin-top: 1.5rem;
  margin-bottom: 1.5rem;
  width: max(50%, 700px);
}

.blog-content-wrapper {
  margin-left: 1rem;
  margin-right: 1rem;
}

.blog-footer {
  line-height: 2rem;
  padding: 0.5rem;
  border-top: 2px solid #e8e8e8;
  text-align: center;
}

.blog-footer-link {
  color: #2a7ae2;
  font-size: 1.25rem;
  text-decoration: none;
}

.blog-footer-link:hover > .blog-footer-username {
  color: #000000;
  text-decoration: underline;
}

.blog-footer-username {
  white-space: pre;
}